{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <style>
        #id_owner{
            display: none;
        }
    </style>

    <div class="container my-5">
        {% include 'components/messages.html' %}
        <form method="post" action="{% url 'AddEventLct' %}" class=""  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        
    </div>

{% endblock %}