{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <style>
        .errBtn{
            display: none;
        }
        #id_eveManager{
            display: none;
        }
        .vImg{
            -webkit-filter: drop-shadow(5px 5px 5px #666666);
            filter: drop-shadow(5px 5px 5px #666666);
        }
        #id_tBkngPrice{
            pointer-events: none;
        }
        .vImg{
            position: relative;
            margin-bottom: 1.5em;
        }
        .hed{
            position: relative;

        }
        @media(min-width:1100px){

            .hed, .vImg {
              position: fixed;

            }

            .vImg {
                
                max-width: 516px;
                max-height: 354px;
                margin-top: 1.5em;
           }

        }
    </style>

    <div class="container my-5 eCnt mt-5">
        {% include 'components/messages.html' %}

        <div>
            <h3 class="hed">{{venue.name}} {{venue.cpcty}} {{venue.mincpcty}} <span id="priceEle"></span></h3>
        </div>

        <div class="row">


                <div class="col-md-8 col-lg-7 col-xl-6 mt-3 vImgCnt">

                    <img src="{{venue.img.url}}"
                        class="img-fluid vImg" alt="Phone image">

                </div>



            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="post" action="{{venue.crEvent}}" class=""  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#exampleModal2">
                        Submit
                    </button>

                    <!-- Final price Booking modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5 msgTT" id="exampleModalLabel">Are you sure?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="modalMsg2">
                                    Invalid Guest
                                    </div>
                                    <div class="modal-footer">

                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-success" type="submit">Submit</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <!-- price showing modal ends here  -->


                </form>
            </div>
        </div>


    </div>

    <button type="button" class="btn btn-primary errBtn" data-bs-toggle="modal" id="errorBrn" data-bs-target="#exampleModal">
        Error in Dates
      </button>

    
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 msgTT" id="exampleModalLabel">Size Error</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalMsg">
              Invalid Guest
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Got It!</button>
            </div>
          </div>
        </div>
      </div> 



      




    <script>

        function updatePrice(){

            let guest = parseInt(document.getElementById('id_nGuest').value);
            let bkng = parseInt("{{venue.bkngPrice}}");
            let txt = document.getElementById('modalMsg2');
            let ans = guest*bkng.toString();
            txt.innerHTML = `Your total booking price for ${guest} guests will be ${ans}`;

        }

        let updater = document.getElementById('id_nGuest');
        updater.addEventListener('onchange',updatePrice());

        


        //    Logic to check whether the startDate is less than the endDate starts here

            let btn = document.getElementById('errorBrn');
            let msg = document.getElementById('modalMsg');
            let msgTitle = document.getElementsByClassName('msgTT');

            function result(){

                let sDate = new Date(document.getElementById('id_startDate').value)
                let eDate = new Date(document.getElementById('id_endDate').value)
                if(sDate > eDate){
                    return true;
                }else{
                    return false;
                }
            }


        function validTate(){

            let nGuest = parseInt(document.getElementById('id_nGuest').value);
            console.log(nGuest)
            var limit =  parseInt("{{venue.cpcty}}");
            var llimit = parseInt("{{venue.mincpcty}}");

            if(nGuest > limit){

                return true;

            }else if(nGuest < llimit){

                return true;

            }else{
                return false;
            }
        }


            document.querySelector('form').addEventListener('submit',(e) => {

                let a = result();
                let b = validTate();
                console.log(b)
                if(a || b){
                    if(a){
                        msgTitle.innerHTML = "Date Error";
                        msg.innerHTML = "Invalid date";
                    }else if(b){
                        msgTitle.innerHTML = "Guest Error";
                        msg.innerHTML = "Invalid number of guests";
                    }
                    e.preventDefault();
                    btn.click();
                    return false;
                }else{
                    return;
                }
            });

        //  Logic to check whether the startDate is less than the endDate starts here



        //  Logic for startDate and endDate should be equal to today's date only and not
        //  previous date start's here

            $(document).ready(function(){

                // let nGuest = parseInt(document.getElementById('id_nGuest').value);
                // let price = parseInt("{{venue.bkngPrice}}")
                // let tprice = price*nGuest;
                // console.log(tprice)
                // let iprice = document.getElementById('id_id_tBkngPrice');
                // iprice.value = tprice;
                let dtToday = new Date();
                let month = dtToday.getMonth() + 1;
                let day = dtToday.getDate();
                let year = dtToday.getFullYear();
                if(month < 10){
                    month = '0' + month.toString();
                }
                if(day < 10){
                    day = '0' + day.toString();
                }

                let maxDate = year + '-' + month + '-' + day;

                $('#id_startDate').attr('min', maxDate);
                $('#id_endDate').attr('min',maxDate);
            });

        //  Logic for startDate and endDate should be equal to today's date only and not
        //  previous date end's here

        //Logic for validating capacity starts here








    </script>

{% endblock %}