{% extends 'index.html' %}
{% block content %}

    <div class="container">
        <div class="row">
          {% include 'components/messages.html' %}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Client name</th>
                    <th scope="col">Event name</th>
                    <th scope="col">No. of guest</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Price Paid</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for x in eve %}
                    <tr>
                        <th scope="row">{{x.eveManager.name}}</th>
                        <td>{{x.name}}</td>
                        <td>{{x.nGuest}}</td>
                        <td>{{x.startDate}}</td>
                        <td>{{x.endDate}}</td>
                        <td>{{x.tBkngPrice}}</td>
                        <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>



            {% for x in eve %}
                    <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you Sure you want to delete {{x.name}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                            <a href="{{x.deleteIt}}"><button type="button" class="btn btn-danger">Delete</button></a>
                        </div>
                        </div>
                    </div>
                    </div>
                    </div>
            {% endfor %}



{% endblock %}