{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/land.css' %}">
    <div class="container">
        {% include 'components/messages.html' %}
        <div class="row landBg d-flex justify-content-center align-items-center">
              <div class="heroText d-flex justify-content-center align-items-center mt-5">
                  <h2 class="mx-5 txt"><span>CREATE EVENTS</span></h2>
                  <h2 class="txt"><span>MANAGE YOUR EVENTS</span></h2>
                  <a href="{% url 'places' %}" class="lndBtnA"> <button class="btn lndBtn mt-2">Create an Event</button>
                  </a>
              </div>
             
        </div>
    </div>


    



    


{% endblock %}