{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/places.css' %}">

<div class="container">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#exampleModal">
        Filter
    </button>

    <div class="row d-flex justify-content-center align-items-center">


       {% for x in venue.qs %} 
        <div class="cardContainer">
            <div class="card">
                <div class="side front">

                    <img src="{{x.img.url}}" class="img-fluid" alt="">

                    <div class="info">
                        <h2>{{x.name}}</h2>
                        <p>Area Specs :{{x.areaSpecs}}</p>
                        <p>{{x.address}}</p>
                    </div>
                </div>
                <div class="side back">
                    <div class="info">
                        <h6>{{x.desc}}</h6>
                        <div class="reviews">
                            <svg fill="#FFC324" height="24" viewBox="0 0 24 24" width="24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                                <path d="M0 0h24v24H0z" fill="none" />
                            </svg>
                            <!-- <svg fill="#FFC324" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs><path d="M0 0h24v24H0V0z" id="a"/></defs><clipPath id="b"><use overflow="visible" xlink:href="#a"/></clipPath><path clip-path="url(#b)" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
             </svg> --> 

                            <p>Max Capacity : {{x.cpcty}}</p>
                        </div>
                        {% comment %} <ul>
                            <li>{{x.desc}}</li>
                        </ul> {% endcomment %}
                        <a href="{{x.get_absolute_url}}">
                            <div class="btn">
                                <h4>View</h4>
                                <svg fill="#333" height="24" viewBox="0 0 24 24" width="24"
                                    xmlns="http://www.w 3.org/2000/svg">
                                    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
                                    <path d="M0-.25h24v24H0z" fill="none" />
                                </svg>
                            </div>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}



    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get">
                    {{ venue.form|crispy }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Filter</button>
                    </div>
                </form>
            </div>
       
        
        </div>
    </div>
</div>

<script>

    const cards = document.querySelectorAll('.card');

    function transition() {
        if (this.classList.contains('active')) {
            this.classList.remove('active')
        } else {
            this.classList.add('active');
        }
    }

    cards.forEach(card => card.addEventListener('click', transition));

</script>
{% endblock %}