{% extends 'index.html' %}
{% block content %}
{% load static %}
<style>
    body {
        background-color: #fff
    }

    .card {
        border: none
    }

    .product {
        background-color: #eee
    }

    .brand {
        font-size: 13px
    }

    .act-price {
        color: red;
        font-weight: 700
    }

    .dis-price {
        text-decoration: line-through
    }

    .about {
        font-size: 14px
    }

    .color {
        margin-bottom: 10px
    }

    label.radio {
        cursor: pointer
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        padding: 2px 9px;
        border: 2px solid #ff0000;
        display: inline-block;
        color: #ff0000;
        border-radius: 3px;
        text-transform: uppercase
    }

    label.radio input:checked+span {
        border-color: #ff0000;
        background-color: #ff0000;
        color: #fff
    }

    .btn-danger {
        background-color: #ff0000 !important;
        border-color: #ff0000 !important
    }

    .btn-danger:hover {
        background-color: #da0606 !important;
        border-color: #da0606 !important
    }

    .btn-danger:focus {
        box-shadow: none
    }

    .cart i {
        margin-right: 10px
    }
</style>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">

        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images img-fluid">
                            <div class="text-center p-4"> <img id="main-image" class="img-fluid" src="{{venue.img.url}}" width="350" />
                            </div>
                            <div class="thumbnail text-center"> <img onclick="change_image(this)"
                                    src="{{venue.img.url}}" class="img-fluid" width="120"> <img onclick="change_image(this)"
                                    src="{{venue.img.url}}" class="img-fluid" width="120"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'places' %}" style="text-decoration: none; color: #000;"><div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span
                                    class="ml-1">Back</span> </div> </a>
                                <div class="d-flex align-items-right">
                                    <form action="{{venue.checkAvail}}" method="post" id="post-form">
                                        {% csrf_token %}
                                        <input type="date" name="avail" id="stDate"/>
                                
                                        <button class="btn btn-primary mx-3" type="submit">Check</button>
                                    </form>
              
                                
                                </div>
                            </div>
                            <div class="mt-4 mb-3"> <span
                                    class="text-uppercase text-muted brand">Speciality : {{venue.speciality}}</span>
                                <h5 class="text-uppercase">{{venue.name}}</h5>
                                <h6>{{venue.desc}}</h6>
                                <div class="price d-flex flex-row align-items-center"> 

                                    {% if venue.availabililty == True %}

                                        {% if not venue.srchDate == None %}
                                            <span class="act-price" style="color: green;">Available on {{venue.srchDate}}</span>
                                        {% endif %}
                                    {% else %}
                                        {% if not venue.srchDate == None %}
                                            <span class="act-price">Not available on {{venue.srchDate}}</span>
                                        {% endif %}
                                    {% endif %}
                                    
                                </div>
                            </div>
                            
                            <div class="sizes mt-5">
                                <h6 class="text-uppercase">Capacity : <span>{{venue.cpcty}}</span></h6> 
                                <h6 class="text-uppercase">Mobile No. : <span>{{venue.mobNo}}</span></h6> 
                            </div>
                            {% if venue.availabililty == True %}
                            <a href="{{venue.crEvent}}" style="text-decoration: none; color: #fff;">
                                <div class="cart mt-4 align-items-center"> <button
                                    class="btn btn-danger text-uppercase mr-2 px-4">Reserve Now</button> <i
                                    class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                                </div>
                            </a>
                            {% else %}
                            <div class="cart mt-4 align-items-center"> <button
                                class="btn btn-danger text-uppercase mr-2 px-4">Reserve Later</button> <i
                                class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function change_image(image) {

        var container = document.getElementById("main-image");

        container.src = image.src;
    }



    document.addEventListener("DOMContentLoaded", function (event) {







    });





   
</script>
{% endblock %}