{% extends 'index.html' %}
{% block content %}
{% load static %}
<style>
    body {
        background-color: #fff
    }

    .card {
        border: none
    }

    .product {
        background-color: #eee
    }

    .brand {
        font-size: 13px
    }

    .act-price {
        color: red;
        font-weight: 700
    }

    .dis-price {
        text-decoration: line-through
    }

    .about {
        font-size: 14px
    }

    .color {
        margin-bottom: 10px
    }

    label.radio {
        cursor: pointer
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        padding: 2px 9px;
        border: 2px solid #ff0000;
        display: inline-block;
        color: #ff0000;
        border-radius: 3px;
        text-transform: uppercase
    }

    label.radio input:checked+span {
        border-color: #ff0000;
        background-color: #ff0000;
        color: #fff
    }

    .btn-danger {
        background-color: #ff0000 !important;
        border-color: #ff0000 !important
    }

    .btn-danger:hover {
        background-color: #da0606 !important;
        border-color: #da0606 !important
    }

    .btn-danger:focus {
        box-shadow: none
    }

    .cart i {
        margin-right: 10px
    }
</style>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">

        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images img-fluid">
                            <div class="text-center p-4"> <img id="main-image" class="img-fluid" src="{{venue.img.url}}" width="350" />
                            </div>
                            <div class="thumbnail text-center"> <img onclick="change_image(this)"
                                    src="{{venue.img.url}}" class="img-fluid mx-2" width="120"> <img onclick="change_image(this)"
                                    src="{{venue.img.url}}" class="img-fluid" width="120"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'places' %}" style="text-decoration: none; color: #000;"><div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span
                                    class="ml-1">Back</span> </div> </a>
                                <div class="d-flex align-items-right">
                                    <form action="{{venue.ajx}}" method="get" id="post-form">
                                        
                                        <input type="date" name="avail" id="stDate" min="2023-03-31"/>
                                
                                        <button class="btn btn-primary mx-3" type="button" onclick="getDateAvailabiliy()">Check</button>
                                    </form>
              
                                
                                </div>
                            </div>
                            <div class="mt-4 mb-3"> <span
                                    class="text-uppercase text-muted brand">Speciality : {{venue.speciality}}</span>
                                <h5 class="text-uppercase">{{venue.name}}</h5>
                                <h6>{{venue.desc}}</h6>
                                <div class="price d-flex flex-row align-items-center"> 

                                
                                    <span class="act-price" id="available" style="color: blue;">Check for availability first</span>
                                        
                                    
                                    
                                </div>
                            </div>
                            
                            <div class="sizes mt-5">
                                <h6 class="text-uppercase">Capacity : <span>{{venue.cpcty}}</span></h6> 
                                <h6 class="text-uppercase">Mobile No. : <span>{{venue.mobNo}}</span></h6> 
                            </div>
                            
                            <a href="#" id="linkToRegister" style="text-decoration: none; color: #fff;">
                                <div class="cart mt-4 align-items-center" id="btnDiv"> <button
                                    class="btn btn-danger text-uppercase mr-2 px-4" id="btnText">Check for availability</button> <i
                                    class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                                </div>
                            </a>
                           
                            <p id="jst"></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

  window.onload = function() {
    let date = new Date();
    let day = date.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();

    let currentDate = `${year}-${month}-${day}`;

    document.getElementById('stDate').min = currentDate

  }
    function change_image(image) {

        var container = document.getElementById("main-image");

        container.src = image.src;
    }



    document.addEventListener("DOMContentLoaded", function (event) {







    });


    function dtToString(){

        let inpDate = document.getElementById('stDate').value;
        let strDate = inpDate.toString();
        let newd = strDate.padStart(strDate.length+1,'"');
        let ltd = newd.padEnd(newd.length+1,'"');
        return ltd;
    }

    async function getDateAvailabiliy(){

        let inDate = dtToString()
        let slug = '{{venue.slug}}';
        let url = `/checkDate/${slug}/`;
        let response = await fetch(url,{
            method: 'get',
            headers : {
                'X-Requested-With': 'XMLHttpRequest',
                'Content-Type': 'application/json'
            }
        });

        let data = await response.json();
        let ty = data.slice(1,data.length-1);
        let str = ty.replace(" ","")
        let ary = str.split(",");
        let flag = 1;

        
        for(var i = 0;i<ary.length;i++){
            
            if(inDate===ary[i]){
                removeAvailability();
                flag = 0;
                break;
            }
        }

        if (flag){
            addAvailability()
        }

    }


    function addAvailability(){
        let available = document.getElementById('available');
        let inDate = dtToString();
        let linkToRegister = document.getElementById('linkToRegister')
        let btnText = document.getElementById('btnText')
 
        available.innerHTML =  `Available on ${inDate}`;
        available.style.color = 'green';
        btnText.innerHTML = "Reserve Now"
        linkToRegister.href = "{{venue.crEvent}}"
        
    }

    function removeAvailability(){
        let available = document.getElementById('available');
        let inDate = dtToString();
        let linkToRegister = document.getElementById('linkToRegister')
        let btnText = document.getElementById('btnText')
        available.innerHTML =  `Not available on ${inDate}`;
        available.style.color = 'red';
        linkToRegister.href = "#"
        btnText.innerHTML = "Reserve later"
    }




   
</script>
{% endblock %}